[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
numpy = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
python-decouple = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
